.centered-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
}

.project-logo {
  max-height: 100px;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.card-action .sign-in-with-google.btn {
  background-color: #4285F4;
}

.swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.project-top {
    height: 60%;
    width: 100%;
}
.project-thumbs {
    height: 10%;
    box-sizing: border-box;
    padding: 10px 0;
}
.project-thumbs .swiper-slide {
    width: 10%;
    height: 100%;
    opacity: 0.3;
}
.project-thumbs .swiper-slide-active {
    opacity: 1;
}

.project-thumbs .project-logo {
    max-height: 50px;
}
