.centered-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.project-logo {
  max-height: 100px;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.card-action .sign-in-with-google.btn {
  background-color: #4285F4;
}