{% extends "semester_nav.html"%}

{% load material_form %}

{% block content %}
    <div class="section container">
        <h5> Add new project</h5>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% form form=form %}
            {% endform %}
            <div class="row">
                <input class="btn" type="submit" value="Create" />
                <a class="btn right" href="{% url 'buildboard:company-create' %}">Add New Company</a>
            </div>
        </form>
    </div>
{% endblock %}
