<div class="row" id="project-{{project.company.name}}-{{project.id}}">
  <div class="col s12 center-align">
    <img class="project-logo responsive-img" src="{{project.company.logo.url}}" alt="{{project.comapany.name}}"/>
  </div>
</div>
<div class="row">
  <div class="col s12 center-align">
    {{ project.one_liner }}
  </div>
</div>
<div class="row">
  <div class="col s12 center-align">
    {{ project.product_narrative }}
  </div>
</div>
<div class="row center-align">
  {% if is_studio %}
    <div class="row">
      <div class="col s12">
        Scan to email team: 
        {% for member in project.members.all %}
          {{member.user.first_name}}{% if not forloop.last %},{% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col s12 horizontal-center" style="">
        <div id="qrcode-{{project.id}}"  class="qrcode right"></div>
        <img class="team-photo responsive-img" src="{{project.team_photo.url}}" alt="{{project.comapany.name}}"/>
      </div>
    </div>
  {% elif is_private %}
    <div class="col s12">
      <div>
        <a href="{{project.get_member_emails}}">
          <i class="small material-icons">email</i>
        </a>
      </div>
      {% for member in project.members.all %}
          {{member.user.first_name}}{% if not forloop.last %},{% endif %}
      {% endfor %}
    </div>
    <div class="row">
      <div class="col s12 horizontal-center">
        <img class="team-photo responsive-img" src="{{project.team_photo.url}}" alt="{{project.comapany.name}}"/>
      </div>
    </div>
  {% else %}
    <div class="col s12">
      Team:
      {% for member in project.members.all %}
        <span>
          {{member.user.first_name}}{% if not forloop.last %},{% endif %}
        </span>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col s12 horizontal-center">
        <img class="team-photo responsive-img" src="{{project.team_photo.url}}" alt="{{project.comapany.name}}"/>
      </div>
    </div>
  {% endif %}
</div>