<div class="row">
  <div class="col s4">
    <img class="project-logo responsive-img" src="{{project.company.logo.url}}" alt="{{project.comapany.name}}"/>
  </div>
  <div class="col s8">
    {{ project.one_liner }}
  </div>
</div>
<div class="row">
  <div class="col s12">
    {{ project.narrative }}
  </div>
</div>
<div class="row">
  <div class="col s8">
    Team:
    {% for member in project.members.all %}
      <span>
        {{member.user.first_name}}{% if not forloop.last %},{% endif %}
      </span>
    {% endfor %}
  </div>
  <div class="col s4">
    <div id="qrcode-{{project.id}}"  class="qrcode"></div>
  </div>
</div>