<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <!--  <link rel="icon" href="../../favicon.ico">-->

  <title>Cornell Tech Buildboard</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/stylesheets/bootstrap-readable.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/static/stylesheets/carousel.css" rel="stylesheet">
</head>
<!-- NAVBAR
================================================== -->

<body>
  <div class="navbar-wrapper pad-bottom">
    <div class="container">

      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Cornell Tech Buildboard</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/carousel">Presentation view</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Company Challenges<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  {{range index . "ccs"}}
                  <li><a href="#" onclick="post('/',{semester:{{.Semester}}, year:{{.Year}} })">{{if (eq .Semester 0)}} Fall {{else}} Spring {{end}} {{.Year}}</a></li>
                  {{end}}
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Startup Studio<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  {{range index . "sss"}}
                  <li><a href=# onclick="post('/',{semester:{{.Semester}}, year:{{.Year}} })">{{if (eq .Semester 0)}} Fall {{else}} Spring {{end}} {{.Year}}</a></li>
                  {{end}}
                </ul>
              </li>
              {{$stats := index . "LoggedIn"}} {{if isAdmin $stats.CurrentUser}}
              <li><a href="#" data-toggle="modal" data-target="#dateModal"><i class="glyphicon glyphicon-wrench"></i></a></li>
              {{end}} {{with $stats}} {{if .LoggedIn}}
              <li><a href="logout">Log out</a></li>
              {{else}}
              <li><a href="login">Log in</a></li>
              {{end}} {{end}}
            </ul>
          </div>
        </div>
      </nav>

    </div>
  </div>
  
  <div class="container marketing pad-top">
    <div class="aboutdesc">
    <h1 class="center">About the Cornell Tech Co-Curriculum</h1> 
    <br>
    Cornell Tech is founded on a fresh approach to Masters education. We bring academics and the tech community together to develop transformative ideas and talent, and encourage creative vision, technical depth, and entrepreneurial thinking. We envisioned how education could meet tech needs now and in the future, then developed a powerful curriculum to put that into practice. Our education goes beyond theory, giving students skills in working together in multidisciplinary teams, familiarity with markets, access to thought leaders, a portfolio of work, and a truly entrepreneurial mindset.
    <br><br>
    If you are interested in learning more about a team, contact <a href="mailto:j.mclo@cornell.edu?Subject=From%20buildboard" target="_top">J McLoughlin</a>.
    <br><br><br>
    <img class="about" alt="aboutpic" src="/static/studio.jpg">
  </div><br><br><br><br>

  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2015 Cornell Tech</p>
  </footer>
</div>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/static/bootstrap.js"></script>
  <script src="/static/jquery.jeditable.js"></script>
  <script src="/static/buildboard.js"></script>
</body>

</html>
