{% extends "semester_nav.html" %}

{% block content %}

<div class="centered-flex">
  <div class="card shadow">
    <div class="card-content">
      <span class="card-title">
        Login with Google
      </span>
      <p>
        Please note: you can only login with @cornell.edu address or @newschool.edu address.
      </p>
    </div>
    <div class="card-action">
      <a class="sign-in-with-google btn" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.GET.next|urlencode }}" >
        Login with Google
      </a>
    </div>
</div>
{% endblock %}
