{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="BuildBoard">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>BuildBoard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'buildboard/style.css' %}" />
    {% include 'material/includes/material_css.html' %}
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">BuildBoard</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          {% block nav_links_menu %}
          {% endblock %}
          <li>
            <a href="https://github.com/cornelltech/buildboard">
            <i class="material-icons right">link</i>View Source</a>
          </li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'accounts:user-profile' %}">Profile</a></li>
            <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
          {% else %}
            <li><a href="{% url 'accounts:login' %}">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>å
    <main class="mdl-layout__content">
      {% block content %}
      {% endblock %}
    </main>
    </div>
    <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
    {% include 'material/includes/material_js.html' %}
  </body>
</html>