{% extends "base.html" %}

{% block nav_links_menu %}
  {% for semestor_category, nav_links in semester_nav_links.items %}
    <a id="{{semestor_category}}-menu"
        class="mdl-navigation__link" href="#">
      {{semestor_category}}
    </a>

    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
        for="{{semestor_category}}-menu">
        {% for nav_link in nav_links %}
          <a class="mdl-navigation__link" href="{{nav_link.url}}">
            <li class="mdl-menu__item">{{nav_link.text}}</li>
          </a>
        {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}

{% block content %}
<div class="centered-flex ">
  <div class="card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Welcome to BuildBoard!</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <h2>{{semester_studio_title}}</h2>
      <p>{{semester_studio_description}}</p>
      <p>This semester is underway; please check back later to see what our student have built.</p> 
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        View past semesters
      </a>
    </div>
  </div>
</div>
{% endblock %}

