{% extends "base.html" %}

{% block nav_links_menu %}
  {% for semestor_category, nav_links in semester_nav_links.items %}
    <a id="{{semestor_category}}-menu"
        class="mdl-navigation__link" href="#">
      {{semestor_category}}
    </a>

    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
        for="{{semestor_category}}-menu">
        {% for nav_link in nav_links %}
          <a class="mdl-navigation__link" href="{{nav_link.url}}">
            <li class="mdl-menu__item">{{nav_link.text}}</li>
          </a>
        {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}

{% block content %}
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset">
    <div class="semester-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2>{{semester_studio_title}}</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <p>{{semester_studio_description}}</p>
      </div>
    </div>
  </div>
  {% for project in project_list %}
    <div class="mdl-cell mdl-cell--6-col">
      <div class="project-card mdl-card  mdl-shadow--2dp">
        <div class="mdl-card__title  mdl-card--expand">
          <div class="one-liner-grid mdl-grid">
            <div class="mdl-cell mdl-cell--6-col">
              <img src="{{project.company.logo}}" alt="{{project.comapany.name}}"/>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
              {{ project.one_liner }}
            </div>
          </div>
        </div>
        <div class="mdl-card__supporting-text">
          {{ project.narrative }}
        </div>
        <div class="mdl-card__actions mdl-card--border">
          Team:
          {% for student in project.students %}
            <span>
              {{student}}{% if not forloop.last %},{% endif %}
            </span>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}

