{% extends "semester_nav.html"%}

{% block content %}
<div>
  <div class="container section">
    <h2>{{semester_studio_title}}</h2>
    <p>{{semester_studio_description}}</p>
  </div>
  <div class="row container">
  {% for project in projects %}
    <div class="col s6">
      {% include "buildboard_app/project_list_item.html" with project=project %}
    </div>
    {% if forloop.counter|divisibleby:2 %}
      <div class="clearfix"></div>
    {% endif %}
  {% endfor %}
  </div>
</div>
{% endblock %}
