{% extends "semester_nav.html"%}


{% block content %}
  <div class="container">
    <div class="section">
      <h3>Welcome {{user.first_name}}</h3>
      <div>
        <p>Following are your projects in BuildBoard. Feel free to add a new project, or edit current ones.</p>
        <p>If you get stuck or have ideas to improve buildboard, please feel free to raise issues at
          <a href="https://github.com/cornelltech/buildboard/issues">github.com/cornelltech/buildboard/issues</a>
        </p>
      </div>
        <a class="btn" href="{% url 'buildboard:project-create' %}">
          Add New Project
        </a>
    </div>
    <div class="divider"></div>
    <div class="section">
      {% for project in projects %}
        <div class="row">
          <div class="col s8">
            {% include "buildboard_app/project_list_item.html" with project=project %}
          </div>
          <div class="col s4">
            <a class="btn right" target="_blank" href="{% url 'buildboard:project-update' project.id %}">
              Edit Project
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}