{% extends "base.html" %}

{% load staticfiles%}

{% block nav_bar %}
<nav class="teal">
  <div class="container nav-wrapper">
    <a href="/" class="brand-logo">BuildBoard</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% block nav_links_menu %}
          {% for semestor_category, nav_links in semester_nav_links.items %}
            <li><a class="dropdown-button" href="#!" data-beloworigin="true" data-activates="{{semestor_category|slugify}}_dropdown">{{semestor_category}}<i class="material-icons right">arrow_drop_down</i></a></li>
          {% endfor %}
          {% for semestor_category, nav_links in semester_nav_links.items %}
            <ul id="{{semestor_category|slugify}}_dropdown" class="dropdown-content">
                {% for nav_link in nav_links %}
                  <li><a href="{{nav_link.url}}">{{nav_link.text}}</a></li>
                {% endfor %}
            </ul>
          {% endfor %}
        {% endblock %}
      <li>
        <a href="https://github.com/cornelltech/buildboard/issues" target="_blank" title="Open Issue">
          <img class="open-issue responsive-img" src="{% static '/static/buildboard/images/bug-white.svg' %}"/>
        </a>
      </li>
      {% if user.is_authenticated %}
        <li><a href="{% url 'accounts:user-profile' %}">Profile</a></li>
        <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
      {% else %}
        <li><a href="{% url 'accounts:login' %}">Login</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}