nfo
*.pot
*.py[co]
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
*.pem
client_secrets.json
*.sqlite3
uploads/
.DS_store
../go/
venv/
*.json
*.csv
