Django==1.9.7
django-filter==0.13.0
django-reversion==2.0.5
djangorestframework==3.4.0
Markdown==2.6.6
oauthlib==1.1.2
Pillow==3.3.0
PyJWT==1.4.2
python-openid==2.2.5
python-social-auth==0.2.19
requests==2.11.0
requests-oauthlib==0.6.2
six==1.10.0
